
<div class="book1">
<div class="book-title">
<div class="name">{{bookname}}</div>
<div class="changename">Change Name</div>
  <input [(ngModel)]="newbookname">
  <button (click)="onSubmit()">Save</button>
</div>
<div class="book-desc">
  <div class="name">{{bookdesc}}</div>
  <div class="changename">Change Description</div>
    <input [(ngModel)]="newdesc">
    <button (click)="onSubmitDesc()">Save</button>
  </div>
  <div class="book-author">
    <div class="name">{{bookauthor}}</div>
    <div class="changename">Change author</div>
      <input [(ngModel)]="newauthor">
      <button (click)="onSubmitAuthor()">Save</button>
    </div>
<div class="book-author"></div>
<ngb-rating [max]="5" (click)="GetRating()" [formControl]="ratingcontrol"></ngb-rating>
<h2>{{FinalRating}}</h2>
</div>

<div class="book2">
<div class="book-title">
  <div class="name">{{bookname1}}</div>
  <div class="changename">Change Name</div>
    <input [(ngModel)]="newbookname1">
    <button (click)="onSubmit1()">Save</button>
  </div>
  <div class="book-desc">
    <div class="name">{{bookdesc1}}</div>
    <div class="changename">Change Description</div>
      <input [(ngModel)]="newdesc1">
      <button (click)="onSubmitDesc1()">Save</button>
    </div>
    <div class="book-author">
      <div class="name">{{bookauthor1}}</div>
      <div class="changename">Change author</div>
        <input [(ngModel)]="newauthor1">
        <button (click)="onSubmitAuthor1()">Save</button>
      </div>
  <div class="book-author"></div>
  <ngb-rating [max]="5" (click)="GetRating1()" [formControl]="ratingcontrol1"></ngb-rating>
  <h2>{{FinalRating1}}</h2>
</div>


<div class="book3">
  <div class="book-title">
    <div class="name">{{bookname2}}</div>
    <div class="changename">Change Name</div>
      <input [(ngModel)]="newbookname2">
      <button (click)="onSubmit2()">Save</button>
    </div>
    <div class="book-desc">
      <div class="name">{{bookdesc2}}</div>
      <div class="changename">Change Description</div>
        <input [(ngModel)]="newdesc2">
        <button (click)="onSubmitDesc2()">Save</button>
      </div>
      <div class="book-author">
        <div class="name">{{bookauthor2}}</div>
        <div class="changename">Change author</div>
          <input [(ngModel)]="newauthor2">
          <button (click)="onSubmitAuthor2()">Save</button>
        </div>
    <div class="book-author"></div>
    <ngb-rating [max]="5" (click)="GetRating2()" [formControl]="ratingcontrol2"></ngb-rating>
    <h2>{{FinalRating2}}</h2>
  </div>

  <div class="book4">
    <div class="book-title">
      <div class="name">{{bookname3}}</div>
      <div class="changename">Change Name</div>
        <input [(ngModel)]="newbookname3">
        <button (click)="onSubmit3()">Save</button>
      </div>
      <div class="book-desc">
        <div class="name">{{bookdesc3}}</div>
        <div class="changename">Change Description</div>
          <input [(ngModel)]="newdesc3">
          <button (click)="onSubmitDesc3()">Save</button>
        </div>
        <div class="book-author">
          <div class="name">{{bookauthor3}}</div>
          <div class="changename">Change author</div>
            <input [(ngModel)]="newauthor3">
            <button (click)="onSubmitAuthor3()">Save</button>
          </div>
      <div class="book-author"></div>
      <ngb-rating [max]="5" (click)="GetRating3()" [formControl]="ratingcontrol3"></ngb-rating>
      <h2>{{FinalRating3}}</h2>
    </div>

    <div class="book5">
      <div class="book-title">
        <div class="name">{{bookname4}}</div>
        <div class="changename">Change Name</div>
          <input [(ngModel)]="newbookname4">
          <button (click)="onSubmit4()">Save</button>
        </div>
        <div class="book-desc">
          <div class="name">{{bookdesc4}}</div>
          <div class="changename">Change Description</div>
            <input [(ngModel)]="newdesc4">
            <button (click)="onSubmitDesc4()">Save</button>
          </div>
          <div class="book-author">
            <div class="name">{{bookauthor4}}</div>
            <div class="changename">Change author</div>
              <input [(ngModel)]="newauthor4">
              <button (click)="onSubmitAuthor4()">Save</button>
            </div>
        <div class="book-author"></div>
        <ngb-rating [max]="5" (click)="GetRating4()" [formControl]="ratingcontrol4"></ngb-rating>
        <h2>{{FinalRating4}}</h2>
      </div>